{% extends 'myblog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h3>Add a new post</h3>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p}}
        <button class="btn btn-primary">Post</button>
    </form>
</div>
<script>
   var name="{{user.id}}";
   document.getElementById("authname").value=name;
</script>
{% else %}
<h2>you can not add post!please login</h2>
{% endif %}


{% endblock %}